<% layout('layouts/boilerplate') %>
<section class="top-section">
    <div class="d-flex justify-content-center vh-100">
        <div class="text-center">
            <h1 class="display-1 fw-bold text-white">404</h1>
            <p class="fs-3 text-white"> <span class="purple">Opps!</span> Page not found.</p>
            <p class="lead text-white">
                Whatever you’re looking for doesn’t exist.
              </p>
            <a href="/products" class="btn purple-btn text-white">Go Back to Products</a>
        </div>
    </div>
</section>