<% layout('layouts/boilerplate') %>
<section class="container-fluid top-section text-center">
    <div class="row">
        <h1 class="purple">Passion Led Us Here</h1>
    </div>
</section>
<section class="container text-center">
    <img src="/img/passionate.png" class="d-none d-lg-inline passion-icon" alt="flaming heart">
    <p class="blurb">
        ... and then we got lost. We blame Karen. We really have no direction other than build totally righteous web applications! They would be 
        doubly righteous if Karen would finish the logging. Our next big project? The world may never know. At least until it round house kicks 
        them right in the face! Keep up the good work Chuck! 
    </p>
    <p class="blurb">
        If you want to be in the greatness of Chuck, and pickup Karen's slack with us, head  on over to our Apply page! Irregardles, you should totes
        check out our products! Blabbit was our first project and won the "The Best Thing Since Sliced Bread" award from Penny Tester's Anonymous!
        Our second project, Xtreme Super Shoppe, was so awesome Penny Testers Anonymous had to create a new award, "The Greatest Thing Since Blabbit."
        Come on and join the cool kids!
    </p>
</section>
