<% layout('layouts/boilerplate') %>
<section class="top-section">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Error!</h4>
                <p><%= message %> </p>
                <hr>
                <p class="mb-0">Status Code: <%= statusCode %> </p>
            </div>
        </div>
    </div>
</section>